In [4]:
# Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st
from pathlib import Path

In [12]:
data = Path('frmgham2.csv')
data_df = pd.read_csv(data)
data_df.head()

,RANDID,SEX,TOTCHOL,AGE,SYSBP,DIABP,CURSMOKE,CIGPDAY,BMI,DIABETES,...,CVD,HYPERTEN,TIMEAP,TIMEMI,TIMEMIFC,TIMECHD,TIMESTRK,TIMECVD,TIMEDTH,TIMEHYP
0,2448,1,195.0,39,106.0,70.0,0,0.0,26.97,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
1,2448,1,209.0,52,121.0,66.0,0,0.0,NaN,0,...,1,0,8766,6438,6438,6438,8766,6438,8766,8766
2,6238,2,250.0,46,121.0,81.0,0,0.0,28.73,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
3,6238,2,260.0,52,105.0,69.5,0,0.0,29.43,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766
4,6238,2,237.0,58,108.0,66.0,0,0.0,28.50,0,...,0,0,8766,8766,8766,8766,8766,8766,8766,8766

In [19]:
# Counting our participants using nunique

data_df['RANDID'].nunique()

# Cleaning the columns of irrelevant information
data_df.columns
data_df = data_df[['RANDID', 'SEX', 'TOTCHOL', 'AGE','CURSMOKE',
       'CIGPDAY',  'educ','PREVCHD', 'PERIOD','HDLC', 'LDLC']]

data_df.head()

,RANDID,SEX,TOTCHOL,AGE,CURSMOKE,CIGPDAY,educ,PREVCHD,PERIOD,HDLC,LDLC
0,2448,1,195.0,39,0,0.0,4.0,0,1,NaN,NaN
1,2448,1,209.0,52,0,0.0,4.0,0,3,31.0,178.0
2,6238,2,250.0,46,0,0.0,2.0,0,1,NaN,NaN
3,6238,2,260.0,52,0,0.0,2.0,0,2,NaN,NaN
4,6238,2,237.0,58,0,0.0,2.0,0,3,54.0,141.0

In [33]:
# Filtered by periods (1,2,3)
databyperiod = data_df.groupby('PERIOD').count()
databyperiod.head()

# Removing any null values that may affect the analysis
nonull = data_df.dropna()
nonull.head()

,RANDID,SEX,TOTCHOL,AGE,CURSMOKE,CIGPDAY,educ,PREVCHD,PERIOD,HDLC,LDLC
1,2448,1,209.0,52,0,0.0,4.0,0,3,31.0,178.0
4,6238,2,237.0,58,0,0.0,2.0,0,3,54.0,141.0
14,11263,2,220.0,55,0,0.0,2.0,0,3,46.0,135.0
19,12806,2,320.0,57,1,30.0,2.0,0,3,34.0,286.0
22,14367,1,280.0,64,0,0.0,1.0,0,3,44.0,236.0

In [32]:
# period 1 graph, per2, per3 where we can list the limitation of participant drop (data loss) to affect our data.

Series([], Name: RANDID, dtype: int64)